[buildout]
eggs-directory = eggs

parts =
    pyramid
    python-ldap

develop =
    . 

eggs=

[pyramid]
recipe = zc.recipe.egg
dependent-scripts = true
eggs =
   ${buildout:eggs} 
   pyramid
   paulla.ldapmanager
   ${python-ldap:eggs}

[python-ldap]
recipe = zc.recipe.egg:custom
eggs =
   ${buildout:eggs} 
   python-ldap
include-dirs =
    /opt/local/include
    /opt/local/include/sasl
    /usr/local/include
    /usr/local/include/sasl
    /usr/include
    /usr/include/sasl
library-dirs =
    /opt/local/lib
    /opt/local/lib/sasl2
    /usr/local/lib
    /usr/local/lib/sasl2
    /usr/lib
    /usr/lib/sasl2
rpath = ${:library-dirs}

interpreter = mypython
